body {
  font: 10px sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
#heading {
  top: 0;
  padding-top: 40px;
  position: fixed;
  height: 100px;
  width: 100%;
  font-size: 70px;
  overflow: hidden;
  background: white;
  z-index: 100;
}
#main {
  position: relative;
  top: 155px;
}

.biguns {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  width: 220px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.row {
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

#years {
  top: 155px;
  position: fixed;
  width: 20px;
}
.year {
  font-size: 66px;
  opacity: 0.2;
  cursor: pointer;
  width: 20px;
}
.year.active {
  opacity: 1;
}

#months {
  float: right;
  margin-right: 70px;
}
.month-row {
  padding: 0;
  margin: 0;
}
.month {
  text-align: left;
  font-size: 46px;
}
.detail {
  font-size: 15px;
  height: 20px;
  font-style: italic;
}
